body {
    background-color: gray;
    color: red;
    font-size: 18px;
    padding: 10px;
  }
  #all-center {
    text-align: center;
  }
  header{
    position: sticky;
    top: 0px;
    background-color: gray;
    padding: 5px;
  }
  button{
    color:black;
    background-color: slategray;
    border: 1px solid black;
  }