
  #login-page{
    position: absolute;
    top: 10px;
    right:40px;
  }
  #headerButtons {
    margin: 0 auto;
  }
  #headerTitle {
    margin: 0 auto;
  }
  #all-center {
    text-align: center;
  }
  #resturauntTable,
  #ridesTable,
.tableHHome, 
.tableDHome{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
  margin: auto;
}
#homepageStuff {
  text-align: center;
  background-color: beige;
  color: #ba3f38;
  line-height: 2;
}
