body {
  background-color: gray;
  color: red;
  font-size: 18px;
  padding: 10px;
}
#loginOrSignupDesign {
  border: 2px solid;
  width: 400px;
  margin: 0 auto;
  text-align: center;
}
#loginheader {
  text-align: center;
}